extends layout

block content
	if user !== null
		h1 Hello, #{user.firstName}
		a(href="/profile") Profile
		br
		a(href="/logout") Logout
	else
		h1 Welcome
		br
		a(href="/auth1/login") Login 1
		br
		a(href="/auth2/login") Login 2
